
<div class="container mt-5">
   
    <div class="row">
        <div class="col-md-4 mb-3"  *ngFor="let item of getPatient.model">
            <div class="card p-3">
                <div class="d-flex flex-row mb-2">
                    <img src="{{item.imageUri}}" width="50%">
                    <div class="d-flex flex-column ml-2  p-3" >

                        <span>Name -- {{item.patientName}}</span>
                        <span class="text-black-50">Gender : {{item.gender}}
                        </span>
                        <span class="text-black-50">Phone : {{item.phone}}                          
                        </span>
                        <span class="text-black-50">Address : {{item.address}}    
                        </span>
                        <span class="text-black-50">Date Of Birth : {{item.dob}}   
                        </span>
                        <span class="text-black-50">Email : {{item.email}}                          
                        </span>
                        <div class="container mt-3">
                            <div class="row">
                                <div class="col-md-12 bg-light text-right">
                                 
                                    <button type="button" class="btn btn-warning">Add Family Info</button>
                                </div>
                            </div>
                        </div>
                        
                        <span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
                </div>

                <div class="btn-group ">
                    <a href="#" class="btn btn-success col-md-6">Edit</a>
                    <a href="#" class="btn btn-danger col-md-6">Delete</a>


                    </div>
  
               
                <!-- <h6>Get more context on your users with stripe data inside our platform.</h6>
                <div class="d-flex justify-content-between install mt-3"><span>Installed 172 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div> -->
            </div>
        </div>
     
    </div>
    
</div>


        <router-outlet></router-outlet>